<html>
  <head>
    <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/styles.css">
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>LRA Crisis Tracker | Codebook</title>
  </head>

  <body>

    <header>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/logo.png" class="logo"></a>
            <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/logo-text.png" class="logo-text"></a>
          </div>
        </div>
      </div>
    </header>

    <div class="container">
      <div class="row">

        <!-- PAGE -->
        <div class="col-md-9 page" role="main">
          {{ content }}
        </div>
      </div>
    </div>
    
    <!-- FOOTER -->
    <div class="footer">
      <a href="http://lracrisistracker.com"></a>
      <a href="http://lracrisistracker.com"></a>
      <a href="http://lracrisistracker.com"></a>
    </div>
  </body>
</html>
